.cards-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    border: 1px solid white;
    border-radius: 25px;
    padding: 30px;
    min-height: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.card-desc {
    max-width: 250px;
}